extends layout

block content
  h1 Search Results: Bicycles

  //- Define the results array
  - let results = [
  -   { bicycle_type: 'Mountain', wheel_size: 27.5, cost: 250 },
  -   { bicycle_type: 'Road', wheel_size: 28, cost: 350 },
  -   { bicycle_type: 'Hybrid', wheel_size: 26, cost: 200 }
  - ]

  .container-fluid
    .row
      each bicycle in results
        .col-sm-2
          p Bicycle Type: #{bicycle.bicycle_type}
          p Wheel Size: #{bicycle.wheel_size}
          p Cost: $#{bicycle.cost}
